build/
out/
bin/

CMakeUserPresets.json
CMakeCache.txt
cmake_install.cmake
compile_commands.json
install_manifest.txt

CMakeFiles/

.vs/

*.VC.db
*.VC.opendb

*.suo
*.user
*.userosscache
*.sln.docstates

*.ilk
*.idb
*.ipdb
*.iobj
*.obj
*.pch
*.pdb

*.exe
*.dll
*.lib
*.exp

*.log

.DS_Store
Thumbs.db

.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json